@media (min-width: 760px) {
  .bottom-nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    box-shadow: -8px -10px 30px 0px rgba(0, 0, 0, 0.25);
    background-color: #f4f4f4;
    margin-left: -20px;
    margin-right: -20px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 6px;

    .col-1 {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: 14px;
      }
    }

    .col-2 {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 390px) and (max-width: 759px) {
  .bottom-nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    box-shadow: -8px -10px 30px 0px rgba(0, 0, 0, 0.25);
    background-color: #f4f4f4;
    margin-left: -20px;
    margin-right: -20px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 6px;

    .col-1 {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: 14px;
      }
    }

    .col-2 {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 389px) {
  .bottom-nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    box-shadow: -8px -10px 30px 0px rgba(0, 0, 0, 0.25);
    background-color: #f4f4f4;
    margin-left: -20px;
    margin-right: -20px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 6px;

    .col-1 {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: 14px;
      }
    }

    .col-2 {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: 14px;
      }
    }
  }
}
