@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./components/bottom-nav";

html {
  background: #d3d3d3 !important;
}

body {
  font-family: "Poppins", sans-serif;
  color: #2d2d2e;
  background: #d3d3d3 !important;
  margin-left: 32rem;
  margin-right: 32rem;
  padding: 0;
}

.footer-wrapper {
  margin-top: auto;
  width: 100%;
  color: #2d2d2e;
  position: relative;
  bottom: 0;

  .footer {
    padding: 0;
    padding-bottom: 50px;
    padding-top: 20px;
  }
}

.frame {
  display: flex;
  justify-content: center;
  width: 100%;

  #page {
    display: flex;
    flex-direction: column;
    gap: 26px;
    background: #f4f4f4;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
    flex-grow: 1;
    position: relative;
    width: 480px;
    max-width: 480px;

    .carousel {
      display: flex; /* Atau overflow-x: scroll; */
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      height: auto;
      margin-right: -30px;

      .carousel-item {
        flex: 0 0 auto;
        width: 300px; /* Atur lebar sesuai kebutuhan */
        scroll-snap-align: center;

        .card {
          background-color: transparent;
          width: 100%;
          img {
            border-radius: 10px;
            object-fit: contain;
          }
          .card-body {
            padding: 10px;
            span {
              font-size: 14px;
              font-weight: 600;
              color: #2d2d2e;
            }
          }
        }
      }

      /* Tambahan untuk pengaturan margin antar item */
      .carousel-item + .carousel-item {
        margin-left: 10px; /* Sesuaikan dengan margin yang Anda inginkan */
      }
    }

    .img-hero {
      border-radius: 10px;
    }

    .title {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 18px;
    }

    .row-item {
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .icon {
          cursor: pointer;
          background: #004aad;
          padding: 14px;
          display: flex;
          justify-content: center;
          width: 60%;
          align-items: center;
          border-radius: 8px;
        }
        .icon-disabled {
          background: #868686;
          padding: 14px;
          display: flex;
          justify-content: center;
          width: 60%;
          align-items: center;
          border-radius: 8px;
        }
      }
    }

    .form-group {
      .input-custom {
        width: 100% !important;
        background: none;
        display: flex;
        align-items: center;
        gap: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        border: 2px solid #004aad;
        padding: 10px;
        border-radius: 10px;

        input {
          background-color: transparent;
          width: 100%;
        }
        input:focus {
          outline: none;
        }
      }

      .loan-badge {
        background: #004aad;
        width: fit-content;
        color: #fff;
        padding: 12px;
        border-radius: 10px;
      }

      .period-badge {
        background: #004aad;
        width: fit-content;
        color: #fff;
        padding: 12px;
        border-radius: 10px;
      }
    }

    .btn-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .btn-submit {
        border: 1px solid #004aad;
        color: #004aad;
      }
      .btn-submit:hover {
        background: #004aad;
        color: #fff;
      }
    }

    #modalResult {
      .modal-box {
        background-color: #fff;

        .alert {
          padding: 10px;
          margin: 10px 0;
          border-radius: 5px;
          text-align: center;
        }

        .alert-green {
          background-color: #d4edda;
          color: #155724;
        }

        .alert-red {
          background-color: #f8d7da;
          color: #721c24;
        }

        .total-bunga {
          padding: 20px;
          background-color: #e6e6e6;
          border-radius: 10px;
          margin-bottom: 10px;
          margin-top: 10px;
        }

        .cicilan-payment {
          padding: 20px;
          background-color: #e6e6e6;
          border-radius: 10px;
          margin-bottom: 10px;
        }

        .percent-bunga {
          padding: 20px;
          background-color: #e6e6e6;
          border-radius: 10px;
        }

        .modal-action {
          form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .btn {
              width: 100%;
              background-color: #004aad;
              color: #fff;
            }
            .btn-outline {
              width: 100%;
              background-color: transparent;
              color: #004aad;
              border: 2px solid #004aad;
              padding: 10px;
              border-radius: 10px;
            }
          }
        }
      }
    }

    .empty-state {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      height: 100%;
      img {
        width: 200px;
      }

      span {
        font-size: 16px;
        font-weight: 600;
        color: #505050;
      }
    }
  }
}
